@import "tailwindcss";

.notranslate {
  unicode-bidi: plaintext;
}

#file-upload-button {
  cursor: pointer;
  height: 0;
}

.skiptranslate {
  iframe {
    display: none;
  }
}

body {
  top: 0px !important;
}